@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  margin: 0;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: #ffffff;
  color-scheme: dark;
  padding-bottom: 50px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #181a1b;
  font-family: "Roboto", sans-serif;
}

body > * {
  padding-left: 15px !important;
  padding-right: 15px !important;
}

p {
  margin-top: 0;
  font-size: 1.2rem;
  line-height: 1.9rem;
}

a {
  font-size: 16px;
  color: #ffffff;
  text-decoration: none;
}

a:hover {
  color: #dbdbdb;
}

@media screen and (min-width: 800px) {
  .container {
    max-width: 80%;
    margin: 0 auto;
  }
}

nav #toggleMenu {
  display: none;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

nav ul li {
  display: inline-block;
}

nav ul li a {
  display: block;
  padding: 5px 10px;
  text-decoration: none;
}

header {
  top: 0;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: black;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), to(rgba(255, 255, 255, 0)));
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.5) 0%, rgba(255, 255, 255, 0) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#000000",endColorstr="#ffffff",GradientType=1);
}

header > div {
  width: 100%;
  padding: 25px 0 15px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media screen and (max-width: 500px) {
  header > div nav #toggleMenu {
    width: 40px;
    height: 40px;
    line-height: 36px;
    display: block;
    font-size: 22px;
    cursor: pointer;
    padding: 2px 10px;
    border-radius: 4px;
    background-color: #333333;
  }
  header > div nav > ul {
    left: 0;
    top: 46px;
    opacity: 0;
    z-index: 9;
    width: 100%;
    display: none;
    display: block;
    padding: 8px 0;
    margin-top: 17px;
    position: absolute;
    -webkit-transition-delay: 0.1s;
            transition-delay: 0.1s;
    background-color: #333333;
    -webkit-transition: opacity 0.3s ease-in-out;
    transition: opacity 0.3s ease-in-out;
  }
  header > div nav > ul li {
    display: block;
  }
  header > div nav > ul.active {
    opacity: 1;
    display: block;
  }
}

header > div .logo {
  max-width: 200px;
  display: block;
}

header > div .logo img {
  width: 100%;
  height: auto;
  max-height: 35px;
  display: block;
}

@media screen and (max-width: 500px) {
  header > div .logo img {
    max-height: 40px;
  }
}

footer {
  bottom: 0;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 20px 0;
  position: absolute;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #333333;
}

footer p {
  font-size: 14px;
}

footer nav {
  margin-bottom: 10px;
}

footer nav ul li a {
  font-size: 30px;
}

#topSection {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 500px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 134px 0 60px;
  background-color: #333333;
}

@media screen and (min-width: 800px) {
  #topSection .content {
    max-width: 40%;
  }
}

#topSection .content h1 {
  margin-top: 0;
  font-size: 3rem;
  line-height: 3.9rem;
  margin-bottom: 20px;
}

#topSection .content p {
  margin: 0;
}
/*# sourceMappingURL=main.css.map */