@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  color: #ffffff;
  color-scheme: dark;
  padding-bottom: 50px;
  justify-content: center;
  background-color: #181a1b;
  font-family: "Roboto", sans-serif;
  & > * {
    padding-left: 15px !important;
    padding-right: 15px !important;
  }
}

p {
  margin-top: 0;
  font-size: 1.2rem;
  line-height: 1.9rem;
}

a {
  font-size: 16px;
  color: #ffffff;
  text-decoration: none;
  &:hover {
    color: #dbdbdb;
  }
}

.container {
  @media screen and (min-width: 800px) {
    max-width: 80%;
    margin: 0 auto;
  }
}

nav {
  #toggleMenu {
    display: none;
  }
  ul {
    margin: 0;
    padding: 0;
    list-style: none;
    li {
      display: inline-block;
      a {
        display: block;
        padding: 5px 10px;
        text-decoration: none;
      }
    }
  }
}

header {
  top: 0;
  width: 100%;
  display: flex;
  position: absolute;
  justify-content: center;
  background: rgb(0, 0, 0);
  background: -moz-linear-gradient(
    180deg,
    rgba(0, 0, 0, 0.5) 0%,
    rgba(255, 255, 255, 0) 100%
  );
  background: -webkit-linear-gradient(
    180deg,
    rgba(0, 0, 0, 0.5) 0%,
    rgba(255, 255, 255, 0) 100%
  );
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0.5) 0%,
    rgba(255, 255, 255, 0) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#000000",endColorstr="#ffffff",GradientType=1);

  & > div {
    width: 100%;
    padding: 25px 0 15px;
    align-items: center;
    display: inline-flex;
    justify-content: space-between;

    nav {
      @media screen and (max-width: 500px) {
        #toggleMenu {
          width: 40px;
          height: 40px;
          line-height: 36px;
          display: block;
          font-size: 22px;
          cursor: pointer;
          padding: 2px 10px;
          border-radius: 4px;
          background-color: #333333;
        }
        & > ul {
          left: 0;
          top: 46px;
          opacity: 0;
          z-index: 9;
          width: 100%;
          display: none;
          display: block;
          padding: 8px 0;
          margin-top: 17px;
          position: absolute;
          transition-delay: 0.1s;
          background-color: #333333;
          transition: opacity 0.3s ease-in-out;
          li {
            display: block;
          }
          &.active {
            opacity: 1;
            display: block;
          }
        }
      }
    }

    .logo {
      max-width: 200px;
      display: block;
      img {
        width: 100%;
        height: auto;
        max-height: 35px;
        display: block;
        @media screen and (max-width: 500px) {
          max-height: 40px;
        }
      }
    }
  }
}

footer {
  bottom: 0;
  width: 100%;
  display: flex;
  padding: 20px 0;
  position: absolute;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-color: #333333;
  p {
    font-size: 14px;
  }
  nav {
    margin-bottom: 10px;
    ul {
      li {
        a {
          font-size: 30px;
        }
      }
    }
  }
}

#topSection {
  width: 100%;
  display: flex;
  min-height: 500px;
  align-items: center;
  padding: 134px 0 60px;
  background-color: #333333;
  // background-size: auto;
  // background-position: center center;
  // background-image: url("/assets/images/bg.png");
  .content {
    @media screen and (min-width: 800px) {
      max-width: 40%;
    }
    h1 {
      margin-top: 0;
      font-size: 3rem;
      line-height: 3.9rem;
      margin-bottom: 20px;
    }
    p {
      margin: 0;
    }
  }
}
