@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  margin: 0;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #ffffff;
  font-weight: 400;
  color-scheme: dark;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #181a1b;
  font-family: "Roboto", sans-serif;
}

body > * {
  padding-left: 15px !important;
  padding-right: 15px !important;
}

body > section {
  padding: 40px 0;
}

p {
  margin-top: 0;
  color: #8d8d8d;
  font-size: 1rem;
  line-height: 1.7rem;
}

h1 {
  margin-top: 0;
  font-weight: 700;
}

h2 {
  margin-top: 0;
  font-weight: 500;
}

h3 {
  margin-top: 0;
  font-weight: 300;
  margin-top: 0;
  font-weight: 300;
}

a {
  font-size: 16px;
  color: #ffffff;
  text-decoration: none;
}

a:hover {
  color: #dbdbdb;
}

li,
td,
th {
  color: #8d8d8d;
}

.button {
  border: none;
  cursor: pointer;
  font-size: 16px;
  padding: 10px 20px;
  border-radius: 4px;
  background-color: #5f5f5f;
}

.button:hover {
  color: #ffffff;
  background-color: #464646;
}

.container {
  width: 100%;
}

@media screen and (min-width: 800px) {
  .container {
    max-width: 80%;
    margin: 0 auto;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    max-width: 1000px;
    margin: 0 auto;
  }
}

nav #toggleMenu {
  display: none;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

nav ul li {
  display: inline-block;
}

nav ul li a {
  display: block;
  padding: 5px 10px;
  text-decoration: none;
}

header {
  top: 0;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: black;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), to(rgba(255, 255, 255, 0)));
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.5) 0%, rgba(255, 255, 255, 0) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#000000",endColorstr="#ffffff",GradientType=1);
}

header > div {
  width: 100%;
  padding: 25px 0 15px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

header > div .logo {
  max-width: 200px;
  display: block;
}

header > div .logo img {
  width: 100%;
  height: auto;
  max-height: 35px;
  display: block;
}

@media screen and (max-width: 500px) {
  header > div .logo img {
    max-height: 40px;
  }
}

footer {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 20px 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #333333;
}

footer p {
  font-size: 14px;
}

footer nav {
  margin-bottom: 10px;
}

footer nav ul li a {
  font-size: 30px;
}

#topSection {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 500px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 134px 0 60px;
  background-color: #333333;
}

@media screen and (min-width: 800px) {
  #topSection > div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

@media screen and (max-width: 800px) {
  #topSection > div img {
    display: none;
  }
}

@media screen and (min-width: 800px) {
  #topSection .content {
    max-width: 40%;
  }
}

#topSection .content h1 {
  margin-top: 0;
  font-size: 3rem;
  line-height: 3.9rem;
  margin-bottom: 20px;
}

#topSection .content p {
  margin: 0;
  font-size: 1.2rem;
  margin-bottom: 30px;
  line-height: 1.9rem;
}

#our-services h2 {
  text-align: center;
  font-size: 2rem;
}

#our-services .cards {
  display: -ms-grid;
  display: grid;
  row-gap: 30px;
}

@media screen and (min-width: 800px) {
  #our-services .cards {
    -webkit-column-gap: 30px;
            column-gap: 30px;
    grid-auto-columns: 1fr;
    grid-auto-flow: column;
  }
}

#our-services .cards .card {
  position: relative;
  padding: 25px 20px;
  border-radius: 4px;
  background-color: #333333;
}

#our-services .cards .card h3 {
  margin-bottom: 10px;
}

#our-services .cards .card ul {
  list-style: square;
  padding-left: 17px;
}

#our-services .cards .card ul li {
  margin: 8px 0;
}

#our-services .cards .card svg {
  right: 20px;
  bottom: 20px;
  opacity: 0.2;
  font-size: 70px;
  margin-top: -70px;
  position: absolute;
}

#get-in-touch p.success {
  color: #009c15;
}

#get-in-touch p.error {
  color: #970000;
}

#get-in-touch h2 {
  text-align: center;
  font-size: 2rem;
}

#get-in-touch form {
  display: -ms-grid;
  display: grid;
  row-gap: 15px;
}

#get-in-touch form > div {
  display: -ms-grid;
  display: grid;
  row-gap: 10px;
  position: relative;
}

#get-in-touch form > div label {
  color: #8d8d8d;
}

#get-in-touch form > div input,
#get-in-touch form > div textarea {
  border: none;
  outline: none;
  font-size: 1rem;
  border-radius: 4px;
  padding: 10px 20px;
}

#get-in-touch form > div textarea {
  resize: none;
}

#get-in-touch > div > .card {
  padding: 25px 20px;
  border-radius: 4px;
  margin-bottom: 10px;
  background-color: #333333;
}

#get-in-touch > div > .card h3 {
  margin-bottom: 25px;
}

#get-in-touch > div > .card h3 > svg {
  margin-right: 12px;
}

#get-in-touch > div > .card p {
  margin-bottom: 0;
}

#get-in-touch .cards {
  display: -ms-grid;
  display: grid;
  row-gap: 30px;
}

@media screen and (min-width: 800px) {
  #get-in-touch .cards {
    -webkit-column-gap: 30px;
            column-gap: 30px;
    grid-auto-columns: 1fr;
    grid-auto-flow: column;
  }
}

#get-in-touch .cards .card {
  padding: 25px 20px;
  border-radius: 4px;
  background-color: #333333;
}

#get-in-touch .cards .card h3 > svg {
  margin-right: 12px;
}

#get-in-touch .cards .card p {
  margin-bottom: 0;
}
/*# sourceMappingURL=main.css.map */